
@--btn-padding-v: 18px;
@--btn-padding-h: 7px;
@--btn-iconSize: 22px;

.Btn {
  padding: @--btn-padding-h @--btn-padding-v;
  background: @--color-black40;
  color: @--color-white;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;

  span {
    margin-left: @--btn-padding-v * .7;
  }

  span:first-child {
    margin-left: 0 !important;
  }

  &:focus {
    outline: none;
  }
}

.Btn--isIcon {
  padding: @--btn-padding-h;
  line-height: 1;
}

.Btn--isSmall {
  padding: @--btn-padding-h * .5 @--btn-padding-v * .5;
  font-size: 11px;
  line-height: 1;

  .Btn--icon {
    width: @--btn-iconSize * .6;
    height: @--btn-iconSize * .6;
  }

  span {
    margin-left: @--btn-padding-v * .5;
  }
}

.Btn--isLarge {
  padding: @--btn-padding-h * 1.25 @--btn-padding-v * 1.25;
  font-size: 21px;
  line-height: 1;

  .Btn--icon {
    width: @--btn-iconSize * 1.15;
    height: @--btn-iconSize * 1.15;
  }

  span {
    margin-left: @--btn-padding-v * .5;
  }
}

.Btn--isCircular {
  .u-circular();

  &.Btn--isIcon.Btn--isSmall {
    padding: @--btn-padding-h * .7;
  }

  &.Btn--isIcon.Btn--isLarge {
    padding: @--btn-padding-h * 1.25;
  }
}

.Btn--icon {
  display: inline-block;
  vertical-align: middle;
  width: @--btn-iconSize;
  height: @--btn-iconSize;

  svg {
    fill: @--color-white;
  }
}

.Btn--isNaked {
  padding: 0;
  margin: 0;
  background: transparent;
}
