
@--color-black: rgb(0,0,0);
@--color-black10: rgb(24,24,24);
@--color-black20: rgb(44,44,44);
@--color-black30: rgb(64,64,64);
@--color-black40: rgb(110,110,112);
@--color-black50: rgb(128,128,130);

@--color-white: rgb(255,255,255);
@--color-white10: rgb(250,249,252);
@--color-white20: rgb(242,242,246);
@--color-white30: rgb(230,230,232);
