
i {
  position: relative;

  svg {
    .u-fill();
  }
}

.Icon {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
}
.Icon--isSmall {
  width: 44px;
  height: 44px;
}
.Icon--isBig {
  width: 128px;
  height: 128px;
}
.Icon--isInline {
  display: inline-block;
  vertical-align: middle;
}
.Icon--isSpinning {
  animation: spinZ 1250ms infinite linear;
}

/* Arrows */
.Icon-arrow--left {
  transform: rotate(0deg);
}
.Icon-arrow--right {
  transform: rotate(180deg);
}
.Icon-arrow--up {
  transform: rotate(90deg);
}
.Icon-arrow--down {
  transform: rotate(-90deg);
}
.Icon-arrow--down-clockwise {
  transform: rotate(270deg);
}
