
.Nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background: @--color-black20;
  border-bottom: @--color-black 1px solid;
}

.Btn--isNav {
  display: block;
  min-width: 160px;
  line-height: 60px;
  background: transparent;
  color: #23CE6B;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.Nav-Title {
  flex: 1;
  line-height: 60px;
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  font-family: 'League Gothic';
}
